.picture {
    border: 1px solid;
    width: 100%;
    text-align: center;
    
    &__container {
        max-width: 100%;
    }
    
    &__upload {
    }
}

#canvas {
    
    margin: 0 auto;
    max-width: 80%;

    // height: 100%;
    // object-fit: cover;   
}