.picture {
    border: 1px solid;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        max-width: 100%;
    }
    
    
}

#canvas {
    
    margin: 0 auto;
    max-width: 80%;

    // height: 100%;
    // object-fit: cover;   
}
