.sidepanel__left {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.filters {
    &__title {
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0 20px 0;
    }
    display: flex;
    flex-direction: column;
    
}
.filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__input {
        background: transparent; 
        border-color: transparent;
        color: transparent;
        transition: all ease 0.4s;
        &-label {
            text-transform: capitalize;
            font-size: 20px;
            text-align: center;
        }
    }

    &__output {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 40px;
        border: 2px solid #eceff1;
        box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
        font-size: 20px;
    }
}

.upload {
    display: flex;
    justify-content: center;
    label {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        background-color: #fff;
        border-radius: 10rem;
        padding: 10px;
        transition: all 0.3s;
        width: 40%;
        height: 80px;
        cursor: pointer;
        img {
            width: 200px;
            height: 140px;
        }
        &:hover {
            box-shadow: 3px 2px 2px $color-grey-dark-2;
            transform: scale(1.01);
        }
    }
}
#upload {
    display: none;
}
.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.revert__btn {
    display: flex;
    justify-content: space-between;
    @include btn;
    border: 0;
    background-color: transparent;
    img {
        width: 25px;
        height: 30px;
    }
    
}
.download__btn {
    display: flex;
    justify-content: space-between;
    img {
        width: 30px;
        height: 30px;
    }
    @include btn;
    border: 0;
    background-color: transparent;
    

}