@import 'base/base';

:root {
    font-size: 10px;
}

* {
    margin:0;
    padding: 0;
    
}
ul, li , a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

}
body, html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0 auto;
    width: 1920px;
    
}

.container {
    width: 1400px;
    margin: 0 auto;

}



@import 'blocks/header';
@import 'blocks/watch';
@import 'blocks/welcome';