.visually-hidden {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.link-active {
  color: #00a092;
  cursor: default;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.line-divider {
  display: block;
}

.union {
  margin-left: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button:active {
  outline: 0;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: 62.5%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1400px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f58021;
  height: 110px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  background-image: url("../../assets/icons/Logo.svg");
  background-size: cover;
  width: 96px;
  height: 50px;
}

.header__navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}

.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation-list-link {
  margin-left: 5.1rem;
}

.header__navigation-list-link a {
  text-transform: uppercase;
}

.header__navigation-list-link a:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #00a092;
}

.header__navigation-list-link:first-child {
  margin: 0;
}

.header__social {
  width: 17rem;
}

.header__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header__social-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.watch {
  background-image: url("../../assets/img/main/watch/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 79rem;
}

.watch__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 129px;
  width: 890px;
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00a092;
}

.watch__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 3rem;
  width: 43rem;
  line-height: 2.7rem;
}

.watch__button {
  margin-top: 4.6rem;
}

.watch__button-btn {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  width: 24rem;
  height: 7.4rem;
  background-color: #f58021;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.watch__button-btn:hover {
  background-color: #d26004;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.watch__button-btn:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.welcome {
  padding-bottom: 14.7rem;
  padding-top: 15rem;
}

.welcome__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.7rem;
          column-gap: 7.7rem;
}

.welcome__wrapper-eagles {
  margin-top: 14.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52.3rem;
}

.welcome__title {
  margin-top: 6.8rem;
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  color: #00a092;
}

.welcome__title-eagles {
  margin-top: 11.2rem;
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  color: #00a092;
}

.welcome__description {
  width: 56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5.3rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.welcome__description-eagles {
  width: 56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5.3rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.donation {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #20113d;
}

.donation__content-title {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.02rem;
}

.donation__content-subtitle {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #fff;
  line-height: 27px;
}

.donation__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.donation__input {
  padding: 0 2.1rem;
  width: 100%;
  height: 100%;
  background-color: #20113d;
  border: none;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.donation__input::-webkit-input-placeholder {
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
}

.donation__input:-ms-input-placeholder {
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
}

.donation__input::-ms-input-placeholder {
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
}

.donation__input::placeholder {
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
}

.donation__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation__action-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.2rem;
  font-weight: 600;
  border: 1px solid #fff;
  width: 32rem;
  border-radius: 5px;
  height: 7.4rem;
  font-size: 1.8rem;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.donation__action-btn label {
  position: absolute;
  left: 2rem;
}

.donation__action-title {
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.07rem;
  line-height: 130%;
}

.donation__btn {
  text-transform: uppercase;
  display: block;
  width: 80px;
  height: 74px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #f58021;
  border-radius: 5px;
  border: none;
}

.donation__btn:hover {
  background-color: #d26004;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.donation__btn:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.donation__input::-webkit-inner-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.pets {
  overflow: hidden;
  padding-top: 13.4rem;
  padding-bottom: 15rem;
}

.pets__title {
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  color: #00a092;
  margin-left: 20px;
}

.pets__subtitle {
  margin: 0 auto;
  margin-top: 5.5rem;
  width: 92rem;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
}

.pets__btn {
  margin: 0 auto;
  width: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10.2rem;
  text-align: center;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__btn-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  border: 1px solid #20113d;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__btn-prev svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  fill: #20113d;
}

.pets__btn-prev:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #20113d;
}

.pets__btn-prev:hover svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  fill: #fff;
}

.pets__btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 6rem;
  border: 1px solid #20113d;
  border-radius: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__btn-next svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  fill: #20113d;
}

.pets__btn-next:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #20113d;
}

.pets__btn-next:hover svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  fill: #fff;
}

.pets__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (44rem)[4];
      grid-template-columns: repeat(4, 44rem);
  -ms-grid-rows: (749px)[2];
      grid-template-rows: repeat(2, 749px);
  margin-top: 5rem;
  gap: 4rem;
}

.pets__card {
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  position: relative;
  background-color: #20113d;
  border-radius: 5px;
}

.pets__card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.pets__card-text {
  padding: 0 10px;
}

.pets__card-name {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px;
  border-radius: 5px 0px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  background-color: #20113d;
  color: #fff;
}

.pets__card-title {
  margin-top: 2.8rem;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #fff;
}

.pets__card-subtitle {
  margin-top: 1.5rem;
  padding: 0 4.5rem 0 4.5rem;
  text-align: center;
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.pets__card-subtitle-eagle {
  margin-top: 1.5rem;
  text-align: center;
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.pets__card-subtitle-lion {
  margin-top: 1.5rem;
  padding: 0 3rem 0 3rem;
  text-align: center;
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.pets__card-subtitle-alligator {
  margin-top: 1.5rem;
  padding: 0 6.5rem 0 6.5rem;
  text-align: center;
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.pets__card-link {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 24rem;
  height: 8rem;
  text-transform: uppercase;
  color: #f58021;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__card-link svg {
  margin-left: 1.1rem;
}

.pets__card-link svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__card-link:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #d26004;
  color: #fff;
}

.pets__card-link:hover svg path {
  fill: #fff;
}

.pets__button {
  margin-top: 9.5rem;
}

.pets__button-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 26px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #20113d;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__button-main:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
}

.pets__button-main:focus, .pets__button-main:active {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.pets__button-main svg {
  margin-left: 10px;
}

.pets__button-main svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.pets__button-main:hover {
  background-color: #20113d;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  border: 1px solid #fff;
  color: #fff;
}

.pets__button-main:hover svg path {
  fill: #fff;
}

.feed {
  padding-top: 9rem;
  background-color: #20113d;
}

.feed__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feed__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10rem;
}

.feed__card {
  padding-top: 8.2rem;
  padding-bottom: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16rem;
}

.feed__card-title {
  width: 50rem;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  color: #fff;
  margin-top: 3rem;
}

.feed__card-content {
  margin-top: 1.7rem;
}

.feed__card-description {
  width: 56rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  margin-top: 5rem;
}

.feed__card-description span {
  display: inline-block;
}

.feed__card-description-third {
  margin-top: 5.4rem;
  width: 54.9rem;
}

.feed__card-two {
  padding-bottom: 8.2rem;
  padding-top: 8.8rem;
}

.feed__button {
  margin-top: 5.3rem;
}

.feed__button-donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  width: 24rem;
  height: 7.4rem;
  background-color: #f58021;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.feed__button-donate:hover {
  background-color: #d26004;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.feed__button-donate:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider__text {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.02rem;
  color: #fff;
}

.divider__line {
  width: 1280px;
  height: 1px;
  background-color: #fff;
}

.think {
  position: relative;
  padding-top: 9rem;
  background-image: url("../../assets/img/main/think/think-panda.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1767px;
}

.think__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.think__content {
  margin-right: 4rem;
}

.think__content-title {
  width: 44rem;
  color: #fff;
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
}

.think__content-subtitle {
  margin-top: 4rem;
  width: 56rem;
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
}

.think__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (51.5rem)[2];
      grid-template-columns: repeat(2, 51.5rem);
  -ms-grid-rows: (46.3rem)[2];
      grid-template-rows: repeat(2, 46.3rem);
  gap: 3rem;
}

.think__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.think__card-icon {
  margin-top: 5rem;
}

.think__card-title {
  margin-top: 4rem;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  color: #000;
}

.think__card-description {
  margin-top: 2rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}

.think__card-description span {
  display: inline-block;
}

.think__card-subtitle {
  text-transform: uppercase;
  margin-top: 4.6rem;
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
}

.think__card-subtitle-four {
  margin-top: 1.9rem;
}

.think__btn {
  margin-top: 3rem;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.think__btn-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  border: 1px solid #fff;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.think__btn-prev svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.think__btn-prev:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #fff;
}

.think__btn-prev:hover svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  fill: #20113d;
}

.think__btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 6rem;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.think__btn-next svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.think__btn-next:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #fff;
}

.think__btn-next:hover svg path {
  fill: #20113d;
}

.think__general-button {
  position: absolute;
  bottom: 15rem;
}

.think__general-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 26px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  width: 35.9rem;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.think__general-btn:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
}

.think__general-btn:focus, .think__general-btn:active {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.think__general-btn svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 10px;
}

.think__general-btn:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #00a092;
}

.care {
  padding-top: 13.6rem;
  padding-bottom: 15rem;
}

.care__title {
  margin: 0 auto;
  text-align: center;
  width: 65.5rem;
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  color: #00a092;
}

.care__subtitle {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  width: 53.7rem;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  color: #20113D;
}

.care__subtitle span {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.care__cards {
  margin-top: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (44rem)[3];
      grid-template-columns: repeat(3, 44rem);
  -ms-grid-rows: (658px)[2];
      grid-template-rows: repeat(2, 658px);
  gap: 4rem;
}

.care__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #20113d;
  border-radius: 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.care__card:hover {
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.care__card span {
  display: block;
}

.care__card-description {
  text-align: center;
  margin-top: 3rem;
  padding: 0 2.5rem 0 2.5rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}

.care__card-first {
  grid-row-start: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.care__card-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 5rem;
}

.care__card-button-feed {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 24rem;
  height: 8rem;
  text-transform: uppercase;
  color: #f58021;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.care__card-button-feed svg {
  margin-left: 1.1rem;
}

.care__card-button-feed svg path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.care__card-button-feed:hover {
  color: #fff;
  background-color: #d26004;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.care__card-button-feed:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.care__card-button-feed:hover svg path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  fill: #fff;
}

.care__button {
  margin-top: 10rem;
}

.care__button-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 26px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #20113d;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.care__button-main:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
}

.care__button-main:focus, .care__button-main:active {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.care__button-main svg {
  margin-left: 10px;
}

.care__button-main svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.care__button-main:hover {
  background-color: #20113d;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  border: 1px solid #fff;
  color: #fff;
}

.care__button-main:hover svg path {
  fill: #fff;
}

.care__image {
  margin-top: 15rem;
}

.footer {
  background-color: #20113d;
  padding-bottom: 4.4rem;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__authors {
  margin-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44.8rem;
}

.footer__logos {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41.4rem;
}

.footer__links {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 42.6rem;
}

.footer__links li a {
  color: #fff;
  text-transform: uppercase;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer__divider span {
  margin-top: 6.8rem;
  width: 100%;
}

.footer__author-link {
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer__button {
  margin-top: 6.5rem;
}

.footer__button-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 26px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  color: #fff;
}

.footer__button-main:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
}

.footer__button-main:focus, .footer__button-main:active {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.footer__button-main svg {
  margin-left: 10px;
}

.footer__button-main svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.footer__button-main:hover {
  background-color: #20113d;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  border: 1px solid #fff;
  color: #fff;
  transition: all ease 0.6s;
  background-color: #00a092;
}

.footer__button-main:hover svg path {
  fill: #fff;
}

.footer__social {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-icon {
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer__social-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.live {
  padding-bottom: 15.4rem;
}

.live__video {
  position: relative;
}

.live__description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5.4rem;
}

.live__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  margin-left: 10px;
  color: #00a092;
}

.live__button {
  position: absolute;
  right: -9px;
  top: 5rem;
}

.live__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  width: 24rem;
  height: 7.4rem;
  background-color: #f58021;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.live__button button:hover {
  background-color: #d26004;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.live__button button:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.live__frame {
  margin-top: 5rem;
  height: 78.7rem;
  width: 100%;
}

.live__slider-camera {
  position: relative;
}

.live__slider-camera-description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.9rem;
  height: 4.4rem;
  border-radius: 5px 0px;
  border: 1px solid #fff;
}

.live__slider-camera-description span {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  color: #fff;
}

.live__slider-frame {
  width: 100%;
  height: 100%;
}

.live__slider-frame-wrapper {
  max-width: 32rem;
  height: 209px;
}

.live__slider-title {
  margin-top: 9.5rem;
  margin-left: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.02rem;
  color: #000;
}

.live__slider-wrapper {
  margin-top: 3rem;
  padding-left: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.live__slider-wrapper-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (32rem)[3];
      grid-template-columns: repeat(3, 32rem);
  -ms-grid-rows: 20.9rem;
      grid-template-rows: 20.9rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.live__slider-arrow-left {
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.live__slider-arrow-left:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.live__slider-arrow-right {
  margin-left: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.live__slider-arrow-right:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main {
  position: relative;
}

.sidepanel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 82.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22rem;
  background-color: #20113d;
  z-index: 1000;
}

.sidepanel__wrapper {
  position: absolute;
  top: 0rem;
  left: 0;
  height: 100%;
}

.sidepanel__nav {
  width: 100%;
}

.sidepanel__live {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  padding: 8px 25px;
  border-radius: 0px 0px 5px 0px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f58021;
}

.sidepanel__live img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.sidepanel__arrow {
  width: 100%;
  height: 10rem;
}

.sidepanel__arrow img {
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.sidepanel__arrow img:hover {
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.sidepanel__arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 8rem;
}

.sidepanel__arrow-down img {
  cursor: pointer;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.sidepanel__arrow-down img:hover {
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.sidepanel__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 100%;
  height: 17rem;
  position: relative;
}

.sidepanel__active-logo {
  background-image: url("../../assets/icons/zoos/border.svg");
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  height: 12rem;
  cursor: default;
}

.sidepanel__active-logo:hover .sidepanel__tooltip {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__active-logo:hover .sidepanel__tooltip-text {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17rem;
  width: 100%;
  border-bottom: 1px solid #fff;
  position: relative;
}

.sidepanel__second-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #f58021;
  width: 12rem;
  height: 12rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__second-logo:hover {
  background-color: #fff;
}

.sidepanel__second-logo:hover .sidepanel__tooltip {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__second-logo:hover .sidepanel__tooltip-text {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17rem;
  width: 100%;
  border-bottom: 1px solid #fff;
  position: relative;
}

.sidepanel__third-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #f58021;
  width: 12rem;
  height: 12rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__third-logo:hover {
  background-color: #fff;
}

.sidepanel__third-logo:hover .sidepanel__tooltip {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__third-logo:hover .sidepanel__tooltip-text {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17rem;
  width: 100%;
  border-bottom: 1px solid #fff;
  position: relative;
}

.sidepanel__fourth-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #f58021;
  width: 12rem;
  height: 12rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__fourth-logo:hover {
  background-color: #fff;
}

.sidepanel__fourth-logo:hover .sidepanel__tooltip {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__fourth-logo:hover .sidepanel__tooltip-text {
  visibility: visible;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.sidepanel__tooltip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  height: 17rem;
  width: 22rem;
  background-color: #20113d;
  text-align: center;
  padding: 5px 1rem;
  top: 0;
  left: 100%;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.sidepanel__tooltip-text {
  visibility: hidden;
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.know {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.know__card {
  margin-left: 24.7rem;
  width: 1040px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 5rem;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.know__card-title {
  padding-top: 4.6rem;
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.02rem;
  color: #00a092;
}

.know__card-subtitle {
  text-align: center;
  width: 91.9rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.know__card-subtitle span {
  display: block;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
}

.know__card-subtitle span p {
  margin: 0 auto;
  width: 85%;
}

.know__info {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 116rem;
}

.know__info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.know__info-content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 0px;
  padding-bottom: 5%;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.02rem;
  position: relative;
}

.know__info-content-descr {
  margin-left: 2rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.know__info-content-btn {
  position: absolute;
  left: 100%;
  top: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 24rem;
  height: 8rem;
  text-transform: uppercase;
  color: #f58021;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  margin-left: 20px;
}

.know__info-content-btn svg {
  margin-left: 1.1rem;
}

.know__info-content-btn svg path {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.know__info-content-btn:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #d26004;
  color: #fff;
}

.know__info-content-btn:hover svg path {
  fill: #fff;
}

.know__info-description {
  margin-top: 5rem;
  width: 115rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.know__info-description span {
  display: block;
}

.map {
  position: relative;
  margin-bottom: 15rem;
}

.map__title {
  margin: 0 auto;
  max-width: 60rem;
  margin-top: 5rem;
  text-align: center;
}

.map__title-heading {
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
}

.map__wrapper {
  margin-top: 7rem;
}

.animal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 10rem;
  height: 14.4rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
          filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
}

.animal:hover .border, .animal:focus .border {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
}

.animal:hover .animal__tooltip-text, .animal:focus .animal__tooltip-text {
  visibility: visible;
}

.animal:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.animal svg path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.animal__tooltip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  top: 0;
  left: 100%;
}

.animal__tooltip-text {
  visibility: hidden;
  color: #f58021;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.animal__tooltip-eagle {
  position: absolute;
  right: 100%;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.animal__alligator {
  left: 29rem;
  bottom: 37rem;
  cursor: default;
}

.animal__eagle {
  left: 17rem;
  bottom: 36rem;
}

.animal__eagle:hover .tag path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  fill: #fff;
}

.animal__lion {
  left: 57rem;
  bottom: 33rem;
  cursor: default;
}

.animal__gorilla {
  right: 61rem;
  bottom: 30rem;
}

.animal__gorilla:hover .tag path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  fill: #fff;
}

.animal__lemur {
  right: 51rem;
  bottom: 18rem;
}

.animal__lemur:hover .tag path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  fill: #fff;
}

.animal__panda {
  right: 35rem;
  bottom: 42rem;
}

.animal__panda:hover .tag path {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  fill: #fff;
}

.animal__tiger {
  right: 29rem;
  bottom: 27.5rem;
  cursor: default;
}

.animal__koala {
  right: 16rem;
  bottom: 16rem;
  cursor: default;
}

.border {
  position: absolute;
  top: 3px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.contact {
  margin-bottom: 15rem;
}

.contact__frame {
  border: 1px solid;
  height: 81.5rem;
}

.contact__feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 15rem;
  gap: 17.5rem;
}

.contact__feed-content-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 65.83px;
  text-transform: uppercase;
  color: #00a092;
}

.contact__feed-content-descr {
  margin-top: 5rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  margin-top: 1rem;
  width: 68rem;
  height: 6rem;
  padding: 1.7rem 2rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 5px;
  border: 1px solid black;
}

.form__input:valid {
  border: 1px solid #00A092;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}

.form__input::-webkit-input-placeholder {
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.form__input:-ms-input-placeholder {
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.form__input::-ms-input-placeholder {
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.form__input::placeholder {
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.form__input:active, .form__input:focus {
  background: #FFFFFF;
  outline: none;
  border: 1px solid #00A092;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}

.form__label {
  margin-top: 3rem;
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.form__label span {
  color: #00a092;
}

.form__area {
  resize: none;
  padding: 1.7rem 2rem;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1.8rem;
  min-height: 20rem;
  border-radius: 5px;
  background: #FFFFFF;
}

.form__area:active, .form__area:focus {
  background: #FFFFFF;
  outline: none;
  border: 1px solid #00A092;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}

.form__btn {
  margin-top: 6.7rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 26px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #00a092;
  color: #fff;
}

.form__btn:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
}

.form__btn:focus, .form__btn:active {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #05786e;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.form__btn-arrow-right {
  margin-left: 1rem;
}
