.inner__wrapper-footer {
    background-image: url("../../src/assets/img/footer.png");
    background-size: cover;
    height: 360px;
    padding-top: 160px;
}

.footer {
    background-color: #181617;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-family: "Roboto", sans-serif;
        margin-left: 15px;
        font-size: 32px;
        color: $font-lite;
        text-transform: uppercase;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 470px;
        align-items: center;
        &-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 240px;
        }
        &-item {
            font-size: 23px;
            color: $font-lite;
            line-height: 60px;
            transition: all ease 0.5s;
            &:hover {
                cursor: pointer;
                box-shadow: 0 2px 0px $orange-light;
                color: $orange-light;
            }
        }
        &-icon {
            &-telegram {
                width: 40px;
                height: 40px;
                transition: all ease 0.5s;
                background: url("../../src/assets/icons/telegramsvg.svg") center/cover no-repeat;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            &-pinterest {
                width: 40px;
                height: 40px;
                background: url("../../src/assets/icons/pinterest.svg") center/cover no-repeat;
                transition: all ease 0.5s;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            &-instagram {
                width: 40px;
                height: 40px;
                transition: all ease 0.5s;
                background: url("../../src/assets/icons/instagramm.svg") center/cover no-repeat;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            &-facebook {
                width: 40px;
                height: 40px;
                background: url("../../src/assets/icons/facebook.svg") center/cover no-repeat;
                transition: all ease 0.5s;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
}
