@media (max-width: 1700px) {
    // .think {
    //     &__wrapper {
    //         flex-direction: column;

    //     }
    //     &__cards {
    //         margin-top: 5rem;
    //         justify-content: center;
    //         grid-template-columns: repeat(2, 44rem);
    //         grid-template-rows: repeat(3, 658px);
    //         gap: 2rem;
    //     }
    // }
}
@media (min-width: 1921px) {

  .gradient {
      width: calc((100% - 1920px) / 2 + 20px);
      z-index: 1000;
      position: absolute;
      height: 162.5rem;
      top: 4rem;
      left: 50%;
      transform: translateX(94rem);
      background: linear-gradient(to right, transparent, #fff 90%);
  }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1183px;
    }

    .header {
        padding: 0 10rem;
    }

    .watch {
        &__content {
            padding: 10rem 4rem;
        }
        &__description {
            width: 34rem;
        }
    }

    .welcome {
        padding-top: 10rem;
        &__title {
            margin-top: 3rem;
            &-eagles {
                margin-top: 3rem;
            }
        }
        &__description {
            margin-top: 3rem;
        }
        &__wrapper {
            padding: 0 10rem 0 10rem;
            display: flex;
            flex-direction: column-reverse;
            &-content {
                align-items: flex-start;
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
            }
            &-eagles {
                align-items: flex-end;
                padding: 0 10rem 0 10rem;
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
            }
        }
        &__image {
            width: 100%;
        }
        &__description-eagles {
            margin-top: 3rem;
        }
    }

    .donation {
        &__content {
            &-wrapper {
                padding: 5rem 10rem;
            }
            &-subtitle {
                width: 57rem;
            }
        }
    }

    .pets {
        padding: 10rem 0 15rem 0;
        &__cards {
            margin-top: 3rem;
            padding-left: 4rem;
            gap: 2rem;
        }
        &__subtitle {
            width: 83rem;
        }
        &__button {
            margin-top: 5rem;
        }
    }

    .divider {
        padding: 0 4rem;
        &__line {
            width: 91.5%;
        }
    }

    .feed {
        padding-top: 15rem;
        &__button {
            align-self: flex-start;
        }
        &__title {
            padding-left: 10rem;
        }
        &__card {
            padding: 0 4rem;
            padding-bottom: 11rem;
            column-gap: 2rem;
            &-title {
                text-align: center;
            }
            &-content {
                justify-content: center;
                align-items: center;
            }
            &-description {
                text-align: center;
            }
            &-image {
                padding-top: 8rem;
            }
            &-icon {
                margin-top: 8rem;
            }
        }
    }

    .think {
        min-height: 188.89rem;
        padding-bottom: 15rem;
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            padding: 0 4rem;
        }
        &__cards {
            margin: 0 0 0 auto;
            margin-top: 5rem;
            position: relative;
        }
        &__general {
            &-button {
                left: 13.5rem;
            }
        }
        &__btn {
            position: absolute;
            right: 4rem;
            bottom: -10rem;
        }
    }

    .care {
        padding-top: 15rem;
        &__subtitle {
            margin-top: 3rem;
        }
        &__cards {
            margin-top: 5rem;
            justify-content: center;
            grid-template-columns: repeat(2, 44rem);
            grid-template-rows: repeat(3, 658px);
            gap: 2rem;
        }
        &__image {
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .footer {
        &__wrapper {
            &-first {
                padding: 0 4rem;
            }
            &-second {
                padding: 0 4rem;
            }
        }
        &__logos {
            width: 34rem;
        }
        &__links {
            width: 35rem;
        }
        &__divider {
            padding: 0;
        }
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 964px;
    }

    .burger {
        display: flex;
    }
    .header {
        padding: 0 2rem;
        &__navigation-wrapper {
            display: none;
        }
    }
    .watch {
        &__content {
            padding: 5rem 2rem;
        }

        &__title {
            font-size: 7.2rem;
        }
        &__description {
            width: 34rem;
        }
        &__button {
            margin-top: 3rem;
        }
    }
    .welcome {
        &__wrapper {
            padding: 0;
        }
        &__image {
            width: 100%;
        }
        &__content {
            padding: 0 2rem;
            width: 100%;
        }
        &__wrapper {
            width: 100%;
            &-eagles {
                padding: 0;
            }
        }
        &__description {
            width: 100%;
            &-eagles {
                width: 100%;
            }
        }
    }
    .donation {
        &__content {
            &-wrapper {
                flex-direction: column;
                flex-wrap: wrap;
                padding: 0 2rem;
            }
            &-title {
                padding: 0 3rem;
                text-align: center;
            }
            &-subtitle {
                text-align: center;
                width: 100%;
            }
        }
        &__action {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .pets {
        &__title {
            width: 40rem;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
        &__subtitle {
            width: 100%;
            padding: 0 2rem;
        }
        &__btn {
            display: none;
        }
        &__cards {
            overflow: hidden;
            display: flex;
            padding: 0 2rem;
            width: 2460px;
            column-gap: 2rem;
        }
        &__card {
            max-height: 60rem;
            max-width: 30rem;
            &-link {
                bottom: 1rem;
            }
            &-subtitle {
                padding: 0 2rem;
            }
            &-koala {
                display: block;
            }
            &-lion {
                display: block;
            }
            &-image {
                img {
                    width: 100%;
                }
            }
        }
    }
    .feed {
        max-width: 100%;
        &__card {
            padding: 0;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0;
            &-content {
                margin-top: 5rem;
                padding-bottom: 6.6rem;
            }
            &-image {
                width: 100%;
                img {
                    object-fit: cover;
                    width: 100%;
                    // height: 100%;
                }
            }
            &-icon {
                margin-top: 0;
            }
        }
        &__button {
            align-self: center;
        }
    }
    .think {
        &__cards {
            padding: 0 2rem;
            display: flex;
            width: 2152px;
            overflow: hidden;
        }
        &__card {
            width: 51.2rem;
            height: 371px;
            // padding: 5rem 2rem;
            &-title {
                position: relative;
                width: 20rem;
                margin: auto;
            }
            &-subtitle {
                text-align: center;
                margin-bottom: 5rem;
            }
            &-description {
                text-align: center;
            }
            &-icon {
                position: absolute;
                transform: translateY(-50%);
            }
        }
        &__general-button {
            bottom: 90rem;
            left: 2rem;
        }
    }
    .care {
        padding-top: 8rem;
        padding-bottom: 10rem;
        &__title {
            width: 100%;
            text-align: center;
        }
        &__subtitle {
            width: 100%;
            text-align: center;
            padding: 0 2rem;
        }

        &__cards {
            display: flex;
            overflow: hidden;
            padding: 0 2rem;
            justify-content: flex-start;
        }
        &__card {
            display: flex;
            width: 60rem;
            height: 30rem;
            &-first {
                display: none;
            }
            &-image {
                max-width: 50%;
                img {
                    height: 100%;
                    max-width: 30rem;
                    object-fit: cover;
                }
            }
            &-wrapper {
                display: flex;
                width: 60rem;
                height: 30rem;
            }
            &-button {
                left: 75%;
            }
        }
        &__image {
            margin-top: 10rem;
        }
    }
    .footer {
        &__wrapper {
            &-first {
                flex-direction: column;
            }
            &-second {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
}

@media (max-width: 980px) {
    .container {
        max-width: 752px;
    }
    .donation__content {
        &-subtitle {
            max-width: 88%;
            margin: auto;
            margin-top: 3rem;

        }
        &-wrapper {
            align-items: center;
            padding-bottom: 5rem;
            padding-top: 5rem;
            
        }
    }

}


@media (max-width: 768px) {
    .container {
        max-width: 623px;
    }
    .donation__content {
        &-subtitle {
            max-width: 88%;
            margin: auto;
            margin-top: 3rem;
        }
        &-wrapper{
            padding-bottom: 5rem;
            padding-top: 5rem;
            
        }
    }

}

@media (max-width: 639px) {
    .container {
        max-width: 464px;
    }
    .watch {
        width: 100%;

        &__title {
            font-size: 4rem;
            font-weight: 800;
            line-height: 4.876rem;
        }
        &__description {
            margin-top: 2rem;
        }
    }

    .welcome {
        padding-bottom: 5rem;
        &__title {
            margin-top: 3rem;
            font-size: 4rem;
            line-height: 4.876rem;
            &-eagles {
                margin-top: 3rem;
                line-height: 4.876rem;
                font-size: 4rem;
            }
        }
        &__description {
            margin-top: 3rem;
        }
        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
            &-content {
                align-items: flex-start;
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
            }
            &-eagles {
                align-items: flex-end;
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
            }
        }
        &__image {
            width: 100%;
        }
        &__description-eagles {
            margin-top: 3rem;
        }
    }

    .donation {
        &__content {
            &-title {
                line-height: 3.2rem;
                font-size: 2.6rem;
            }
            &-subtitle {
                font-size: 1.8rem;
                line-height: 2.7rem;
            }
        }
    }

    .pets {
        &__cards {
            margin-top: 3rem;
            gap: 2rem;
        }
        &__title {
            font-size: 2.6rem;
        }
        &__subtitle {
            margin-top: 2rem;
            font-size: 1.8rem;
        }
        &__button {
            margin-top: 5rem;
        }
    }

    .divider {
        padding: 0 4rem;
        &__line {
            width: 91.5%;
        }
    }

    .feed {
        padding-top: 2rem;
        &__button {
            align-self: center;
        }
        &__title {
            padding: 0;
            text-align: center;
            font-size: 2.6rem;
        }
        &__card {
            padding: 0;
            padding-bottom: 0;
            column-gap: 2rem;
            &-title {
                text-align: center;
                width: 100%;
            }
            &-content {
                max-width: 100%;
                margin-top: 0;
                justify-content: center;
                align-items: center;
            }
            &-description {
                text-align: center;
                padding: 0 1rem;
                width: 100%;
                &-third {
                    width: 100%;
                }
            }
            &-image {
                padding-top: 8rem;
            }
            &-icon {
                margin-top: 3rem;
            }
        }
    }

    .think {
        min-height: 1461px;
        padding-top: 4rem;
        &__wrapper {
            flex-direction: column;
        }
        &__content {
            margin: 0 auto;
            padding: 0;
            max-width: 30rem;
            &-title {
                text-align: center;
                font-size: 2.6rem;
                line-height: 3.169rem;
                font-weight: 500;
            }
            &-subtitle {
                text-align: center;
                width: 100%;
                font-size: 1.8rem;
                margin-top: 3rem;
                font-weight: 400;
            }
        }
        &__card {
            width: 30rem;
            height: auto;
            padding: 0 5rem;
            &-icon {
                margin-top: 4rem;
            }
        }
        &__cards {
            margin: 0 auto;
            padding: 0;
            width: 30rem;
            margin-top: 5rem;
            position: relative;
        }
        &__general {
            &-button {
                max-width: 30rem;
                left: 50%;
                transform: translate(-50%);
                bottom: 5rem;
            }
        }
        &__btn {
            position: absolute;
            right: 4rem;
            bottom: -10rem;
        }
    }

    .care {
        padding-top: 4rem;
        &__title {
            text-align: center;
            font-size: 2.6rem;
            line-height: 3.169rem;
        }
        &__subtitle {
            margin-top: 3rem;
            font-size: 1.8rem;
        }
        &__cards {
            margin-top: 5rem;
        }
        &__card {
            &-wrapper {
                width: 30rem;
                height: auto;
                flex-direction: column;
            }
        }
        &__image {
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .footer {
        &__wrapper {
            &-first {
                padding: 0 1rem;
            }
            &-second {
                padding: 0 1rem;
            }
        }
        &__divider {
            padding: 0;
        }
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }
    .watch {

        padding-top: 1rem;
        background-image: url("../../assets/img/main/watch/Background-32.png");
        background-size: auto;
        background-position: bottom;
        min-height: 69rem;
        &__content {
            padding: 0rem 1rem;
            margin-top: 1rem;
        }
        &__title {
            
            width: 100%;
        }
        &__description {
            margin-top: 1rem;
            width: 100%;
        }
        &__button {
            text-align: center;
            &-btn {
                @include btn-32;
            }
        }
    }
    .welcome {
        padding-top: 5rem;
        &__title {
            font-size: 2.6rem;
            line-height: 3.169rem;
            &-eagles {
                font-size: 2.6rem;
            }
        }
        &__content {
            padding: 0;
        }
        &__description {
            padding: 0 1rem;
        }
        &__wrapper {
            &-eagles {
                margin-top: 0;
            }
        }
    }

    .donation {
        &__content {
            &-wrapper {
                padding: 0 1rem;
            }
            width: 100%;

            &__subtitle {
                width: 30rem;
            }
        }
        &__action-btn {
            margin-bottom: 5rem;
            @include donate-btn-32;
        }
    
    }
    .pets {
        padding: 0;
        &__title {
            margin-top: 5rem;
            text-align: center;
            width: 100%;
        }
        &__subtitle {
            margin-top: 3rem;
            padding: 0 1rem;
            font-weight: 400;
            line-height: 2.7rem;
        }
        &__cards {
            padding: 0 1rem;
        }
        &__button-main {
            display: none;
        }
    }
    .think {
        &-card {
            height: auto;
        }
       
        &__general {
            &-button {
                display: none;
            }
        }
    }
    .care {
        &__cards {
            padding: 0 1rem;
        }
        &__card {
            min-height: 60rem;
            &-description {
                padding: 0 2.8rem;
            }
            &-button {
                left: 50%;
                bottom: 0;
            }
        }
        &__button {
            &-main {
                font-weight: 600;
                width: 30rem;
                text-transform: capitalize;
                padding: 0;
                height: 4.5rem;
                font-size: 1.8rem;
            }
        }
        &__image {
            margin-top: 8rem;
        }
    }

    .footer {
        &__wrapper {
            display: flex;
            &-second {
                flex-direction: column-reverse;
            }
        }
        &__logos {
            max-width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                margin-top: 3rem;
            }
        }
        &__links {
            max-width: 30rem;
        }
        &__link  a {
            font-size: 1.6rem;
        }
        
        &__button {
            &-main {
                padding: 1rem 2rem;
                height: 4.5rem;
                max-width: 30rem;
                text-transform: none;
            }
        }
        &__authors {
            width: 100%;
            flex-direction: column;
        }
        &__author-link {
            margin-top: 3rem;
        }
    }
}

.content__image {
    max-width: 100%;
}
