@media (max-width: 1700px) {
    // .think {
    //     &__wrapper {
    //         flex-direction: column;

    //     }
    //     &__cards {
    //         margin-top: 5rem;
    //         justify-content: center;
    //         grid-template-columns: repeat(2, 44rem);
    //         grid-template-rows: repeat(3, 658px);
    //         gap: 2rem;
    //     }
    // }
}

@media (max-width: 1440px) {
    .panda__svg  {
        width: 53px;
        height: 40px;
        path {
            fill: #ffff;
        }
    }
    .eagle__svg {
        width: 53px;
        height: 40px;
        path {
            fill: $primary-color;
        }
    }
    .gorilla__svg {
        width: 53px;
        height: 40px;
        path {
            fill: $primary-color;
        }
    }
    .lemur__svg {
        width: 53px;
        height: 40px;
        path {
            fill: $primary-color;
        }
    }
    .sidepanel {
        position: absolute;
        max-width: 11.5rem;
        &__live {
            display: none;
        }
        &__arrow img {
            left: 50%;
            transform: translate(-50%);
        }
        &__active {
            &-logo {
                background: none;
                
            }
        }
        &__second {
            &-logo {
                background: none;
                &:hover {
                    background: none;
                }
            }
        }
        &__third {
            &-logo {
                background: none;
                &:hover {
                    background: none;
                }
            }
        }
        &__fourth {
            &-logo {
                background: none;
                &:hover {
                    background: none;
                }
            }
        }
    }
    .live {
        padding-bottom: 10rem;
        &__button {
            right: 4rem;
        }
        &__video {
            display: flex;
            justify-self: flex-end;
            max-width: 100.5rem;
            margin-left: 13.5rem;
        }
        &__slider {
            &-title {
                margin-top: 1rem;
            }
            &-wrapper {
                padding: 0;
                &-inner {
                    grid-template-columns: repeat(3, 26.9rem);
                }
            }
        }
    }
    .donation {
        padding: 0;
        &__content {
            &__subtitle {
                max-width: 74rem;
            }
            &-wrapper-zoos {
                padding: 3rem 4rem;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .know {
        padding-top: 10rem;
        &__card {
            padding-bottom: 3rem;
            max-width: 93rem;
            margin: 0 auto;
            &-subtitle {
                max-width: 74rem;
            }
        }
        &__info {
            margin: 0 auto;
            margin-top: 10rem;
            padding: 0 4rem;
            &-description {
                padding: 0 4rem;
            }
        }
    }
}

@media (max-width: 1199px) {
    .live {
        &__title {
            font-size: 4.2rem;
            font-weight: 500;
            // margin-left: 20%;
        }
        &__button {
            right: 0;
            top: 100rem;
        }
        &__slider {
            margin-top: 13rem;
            &-title {
                text-transform: none;
            }
            &-camera {
                &-description {
                    max-width: 7rem;
                    max-height: 2rem;
                    span {
                        font-size: 1rem;
                        
                    }
                    img {
                        width: 11.35px;
                        height: 11.35px;
                    }

                }
            }
            &-arrow-left {
                display: none;
            }
            &-arrow-right {
                display: none;
            }
            &-frame-wrapper {
                max-height: 100%;
            }
            &-wrapper {
                padding: 0;
                &-inner {
                    grid-template-columns: repeat(3, 13.5rem);
                    grid-template-rows: 10.6rem ;
                }
            }
        }
    }
    .donation {
        padding: 0;
        &__content {
            max-width: 60rem;
            &-title {
                padding: 0;
                margin: 0 auto;
            }
            &__subtitle {
                max-width: 100%;
            }
            &-wrapper-zoos {
                padding: 3rem 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    .know {
        &__card {
            max-width: 97%;
            &-subtitle {
                max-width: 88%;
            }
        }
        &__info {
            padding: 0 1rem;
            width: 100%;
            flex-direction: column-reverse;
            &-description {
                max-width: 100%;
                padding: 0 1rem;
            }
            &-image {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            &-content {
                margin-top: 8rem;
            }
        }
    }
    
    
    
}

@media (max-width: 980px) {
    .container {
        max-width: 752px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 623px;
    }
}

@media (max-width: 639px) {
    .container {
        max-width: 464px;
    }
    
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }
    .watch {

        padding-top: 1rem;
        background-image: url("../../assets/img/main/watch/Background-32.png");
        background-size: auto;
        background-position: bottom;
        min-height: 69rem;
        &__content {
            padding: 0rem 1rem;
            margin-top: 1rem;
        }
        &__title {
            
            width: 100%;
        }
        &__description {
            margin-top: 1rem;
            width: 100%;
        }
        &__button {
            text-align: center;
            &-btn {
                @include btn-32;
            }
        }
    }
    .welcome {
        padding-top: 5rem;
        &__title {
            font-size: 2.6rem;
            line-height: 3.169rem;
            &-eagles {
                font-size: 2.6rem;
            }
        }
        &__content {
            padding: 0;
        }
        &__description {
            padding: 0 1rem;
        }
        &__wrapper {
            &-eagles {
                margin-top: 0;
            }
        }
    }

    .donation {
        &__content {
            &-wrapper {
                padding: 0 1rem;
            }
            width: 100%;

            &__subtitle {
                width: 30rem;
            }
        }
        &__action-btn {
            @include donate-btn-32;
        }
    
    }
    .pets {
        padding: 0;
        &__title {
            margin-top: 5rem;
            text-align: center;
            width: 100%;
        }
        &__subtitle {
            margin-top: 3rem;
            padding: 0 1rem;
            font-weight: 400;
            line-height: 2.7rem;
        }
        &__cards {
            padding: 0 1rem;
        }
        &__button-main {
            display: none;
        }
    }
    .think {
        &-card {
            height: auto;
        }
       
        &__general {
            &-button {
                display: none;
            }
        }
    }
    .care {
        &__cards {
            padding: 0 1rem;
        }
        &__card {
            min-height: 60rem;
            &-description {
                padding: 0 2.8rem;
            }
            &-button {
                left: 50%;
                bottom: 0;
            }
        }
        &__button {
            &-main {
                font-weight: 600;
                width: 30rem;
                text-transform: capitalize;
                padding: 0;
                height: 4.5rem;
                font-size: 1.8rem;
            }
        }
        &__image {
            margin-top: 8rem;
        }
    }

    .footer {
        &__wrapper {
            display: flex;
            &-second {
                flex-direction: column-reverse;
            }
        }
        &__logos {
            max-width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                margin-top: 3rem;
            }
        }
        &__links {
            max-width: 30rem;
        }
        &__link  a {
            font-size: 1.6rem;
        }
        
        &__button {
            &-main {
                padding: 1rem 2rem;
                height: 4.5rem;
                max-width: 30rem;
                text-transform: none;
            }
        }
        &__authors {
            width: 100%;
            flex-direction: column;
        }
        &__author-link {
            margin-top: 3rem;
        }
    }
}

.content__image {
    max-width: 100%;
}
