@mixin h1 {
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $title-color;
}

@mixin h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 65.83px;
    text-transform: uppercase;

}

@mixin h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.02rem;
}

@mixin subtitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.02rem;
   
}
@mixin descr {
    line-height: 2.7rem;
    font-size: 1.8rem;
    font-weight: 400;
}

