@mixin h1 {
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color:$title-color;

}

@mixin h2 {
    font-weight: 600;
    font-size: 54px;
    text-transform: uppercase;
    color: $title-color;
}

@mixin h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.01rem;
}

@mixin subheader {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
}

@mixin btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    width: 24rem;
    height: 7.4rem;
    background-color: $primary-color;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    border:none;
}
@mixin btn-hovered {
    background-color: #D26004;
}

$primary-color : #F58021;
$secondary-color: #20113D;
$title-color: #00A092;