.footer {
    background-color: $secondary-color;
    height: 32.9rem;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__links {
        display: flex;

    }
}