@import 'base/base';


* {
    margin:0;
    padding: 0;
    
}
ul, li , a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    

}
button {
    background-color: transparent;

    border: 0;
    cursor: pointer;
    &:active {
        outline: 0;
    }
}
body, html {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-weight: 600;
    font-size: 62.5%;
    padding: 0;
    overflow-x: hidden;
}

// .content__wrapper {
//     margin: 0 auto;
//     width: 1920px;
// }
.container {
    margin: 0 auto;
    width: 1400px;

}



@import 'header';
@import 'watch';
@import 'welcome';
@import 'donation';
@import 'pets';
@import 'feed';
@import 'think';
@import 'care';
@import 'footer';
