.donation {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $secondary-color;
    &__content {
        &-title {
            width: 889px;
            @include h3;
        }
        &-subtitle {
            font-size: 1.8rem;
            margin-top: 2rem;
            font-weight: 400;
            color: #fff;
            line-height: 27px;
            width: 609px;
        }
        &-wrapper {
            display: flex;
            column-gap: 191px;
        }
    }
    &__action {
        display: flex;
        flex-direction: column;
        &-btn {
            display: flex;
            margin-top: 1rem;
            font-weight: 600;
            border: 1px solid #fff;
            width: 30.2rem;
            border-radius: 5px;
            height: 7.4rem;
            font-size: 1.8rem;
            color: #fff;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            padding-left: 14px;
            span {
                text-transform: uppercase;
            }
        }
        &-title {
            color: #fff;
            font-weight: 500;
            font-size: 2.6rem;
            letter-spacing: 0.02rem;
            line-height: 130%;
        }
        
    }
    &__btn  {
        text-transform: uppercase;
        display: block;
        width: 79px;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: orange;
        border-radius: 5px;
        border: none;
        
    }
}