.hidden {
    position: absolute;
    top: 0;
    overflow: hidden;
    display: none;
    opacity: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    height: 110px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        background-image: url("../../../../assets/icons/Logo.svg");
        background-size: cover;
        width: 96px;
        height: 50px;
        cursor: pointer;
    }

    &__navigation {
        width: 556px;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 794px;
        }
        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-link {
                a {
                    transition: all ease 0.5s;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    color: #000;
                    &:hover {
                        transition: all ease 0.5s;
                        color: $title-color;
                    }
                }
                &:nth-child(3) a {
                    border-bottom: 2px solid;
                    cursor: default;
                    color: #00a092;
                }
            }
        }
    }
    &__social {
        width: 180px;
        &-icons {
            display: flex;
            justify-content: space-around;
        }
        &-icon {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: all ease 0.5s;
            &:hover {
                transform: scale(1.1);
            }
            &-youtube a {
                background-image: url("../../../../assets/icons/YouTube.svg");
                width: 40px;
                height: 40px;
            }
            &-instagram a {
                background-image: url("../../../../assets/icons/Instagram.svg");
                width: 40px;
                height: 40px;
            }
            &-facebook a {
                background-image: url("../../../../assets/icons/Facebook.svg");
                width: 40px;
                height: 40px;
            }
        }
    }
}
