.know {
    padding-left: 26rem;
    padding-top: 15rem;
    padding-bottom: 15rem;

    &__card {
        margin-left: 23.7rem;
        width: 1040px;
        height: fit-content;
        padding-bottom: 5rem;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        &-title {
            padding-top: 4.6rem;
            text-align: center;
            @include h3;
            color: $title-color;
            
        }
        &-subtitle {
            span {
                display: block;
                filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25%));
                @include subtitle;
                p {
                   margin: 0 auto;
                    width: 85%;
                }

            }
            text-align: center;
            width: 91.9rem;
            margin: 0 auto;
            margin-top: 3rem;

        }
    }
    &__info {
        margin-top: 14rem;
        display: flex;
        gap: 22rem;
        flex-wrap: wrap;
        &-content {
           
            &-heading {
                padding-bottom: 2.1rem;
                @include subtitle;
                display: flex;
                justify-self: center;
                align-items: baseline;
            }
            &-descr {
                margin-left: 1rem;
                @include descr;
            }
            &-btn {
                @include no-bordered-btn;
                transition: all ease 0.6s;
                margin-left: 20px;
                svg {
                    path {
                        transition: all ease 0.6s;
                    }
                    margin-left: 1.1rem;
                }
                &:hover {
                    transition: all ease 0.6s;
                    background-color: #d26004;
                    color: #fff;
                    svg path {
                        fill: #fff;
                    }
                }
            }
        }
        &-description {
            span {
                display: block;
            }
            margin-top: 5rem;
            width: 115rem;
            @include descr;
        }
    }
}