.live {
    // padding-left: 26rem;
    
    position: relative;
    height: 1497px;
    &__description {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 5.4rem;
        
    }
    &__title {
        @include h2;
        margin-left: 10px;
        color: $title-color;
    }
    &__button {
        position: absolute;
        right: -9px;
        top: 5rem;
        
        button {
            @include btn;
            &:hover {
                @include btn-hovered;
            }
        }
    }
    &__frame {
        margin-top: 5rem;
        height: 78.7rem;
        width: 100%;
    }

    &__slider {
        &-camera {
            &-description {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18.9rem;
                height: 4.4rem;
                border-radius: 5px 0px;
                border: 1px solid #fff;
                span {
                    @include subtitle;
                    color: #fff;
                }
            }
        }

        &-frame {

        }
        &-title {
            margin-top: 9.5rem;
            margin-left: 1rem;
            text-align: center;
            @include h3;
            color: #000;
            
        }
        &__camera {
            background-image: url('../../../../assets/img/zoos/panda/camera.png');
            width: 100%;
            height: 209px;
        }
        &-wrapper {
            margin-top: 3rem;
            padding-left: 13rem;
            display: flex;
            justify-content: center;
            &-inner {
                display: grid;
                grid-template-columns: repeat(3, 32rem);
                grid-template-rows: 20.9rem;
                column-gap: 4rem;
    
            }
        }
        &-arrow {
            &-left {
                margin-right: 4rem;
                display: flex;
                align-items: center;
            }
            &-right {
                margin-left: 3.5rem;
                display: flex;
                align-items: center;
                transform: rotate(180deg)

            }
        }
    }

}