.care {
    padding-top: 13.6rem;
    padding-bottom: 15rem;
    &__title {
        margin:  0 auto;
        text-align: center;
        width: 65.5rem;
        @include h2;
        color: $title-color;
    }
    &__subtitle {
        span {
            // filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25%));
        }
        margin: 0 auto;
        margin-top: 5rem;
        text-align: center;
        width: 53.7rem;
        @include subtitle;
        color: #20113D;
    }
    &__cards {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(3, 44rem);
        grid-template-rows: repeat(2, 658px);
        gap: 4rem;
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $secondary-color;
        border-radius: 5px;
        
        transition: all ease 0.5s;
        &:hover {
            cursor: pointer;
            transition: all ease 0.5s;
            transform: scale(1.02);
        }
        &-image {
            img {
                // width: 100%;
                object-fit: cover;
            }
        }
        span {
            display: block;
        }
        &-description {
            text-align: center;
            margin-top: 3rem;
            padding: 0 2.5rem 0 2.5rem;
            @include descr;
            color: #fff;
        }
        
        &-first {
            grid-row-start: 1 / 2; 
            grid-column: 1 / 3;
        }
        &-button {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 5rem;
            &-feed {
                transition: all ease 0.5s;
                text-align: center;
                margin: 0 auto;
                
                @include no-bordered-btn;
                svg {
                    path {
                        transition: all ease 0.5s;
                    }
                    margin-left: 1.1rem;
                }
                &:hover {
                    color: #fff;
                    @include btn-hovered;
                    transition: all ease 0.5s;
                    svg {
                        path {
                            transition: all ease 0.5s;
                            fill: #fff;
                        }
                    }
                }
            }
            
        }
    }
    &__button  {
        margin-top: 10rem;
        &-main {
            margin: 0 auto;
            @include empty-btn-large;
            border: 1px solid $secondary-color;
            transition: all ease 0.6s;
            svg {
                path {
                    transition: all ease 0.6s;
                }
                margin-left: 10px;
            }
            &:hover {
                background-color: $secondary-color;
                transition: all ease 0.6s;
                border: 1px solid #fff;
                color: #fff;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
    &__image {
        margin-top: 15rem;

    }
    
}