.donation {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $secondary-color;
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-title {
            display: flex;
            flex-wrap: wrap;
            @include h3;
        }
        &-subtitle {
            max-width: 91rem;
            font-size: 1.8rem;
            margin-top: 2rem;
            font-weight: 400;
            color: #fff;
            line-height: 27px;
        }
        &-wrapper {
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            &-zoos {
                display: flex;
                justify-content: space-around;
                padding-left: 8rem;
                
            }
        }
    }
    &__input {
        padding: 0 2.1rem;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
        border: none;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        &::placeholder {
            color: #fff;
            @include descr;
            text-transform: uppercase;
            text-align: center;
            font-family: inherit;
        }
    }
    &__action {
        display: flex;
        flex-direction: column;
        &-btn {
          z-index: inherit;
            @include donate-btn;
            label {
                position: absolute;
                left: 2rem;
            }
        }
        &-title {
            color: #fff;
            font-weight: 500;
            font-size: 2.6rem;
            letter-spacing: 0.07rem;
            line-height: 130%;
        }
    }
    &__btn {
        text-transform: uppercase;
        display: block;
        width: 80px;
        height: 74px;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: $primary-color;
        border-radius: 5px;
        border: none;
        &:hover {
            @include btn-hovered;
        }
    }
}

.donation__input::-webkit-inner-spin-button,
::-webkit-inner-spin-button {
  
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
