.footer {
    background-color: $secondary-color;
    padding-bottom: 4.4rem;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        &-first {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-second {
            display: flex;
            justify-content: space-between;
        }
    }
    &__authors {
        margin-top: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 44.8rem;
    }
    &__logos {
        margin-top: 8rem;
        display: flex;
        justify-content: space-between;
        width: 41.4rem;
    }
    &__link {
        a {
            color: #fff;
            text-transform: uppercase;
            @include descr;
            cursor: pointer;
            transition: all ease 0.5s;
            &:hover {
                color: $title-color;
            }
        }
    }
    &__links {
        margin-top: 6.4rem;
        
        display: flex;
        justify-content: space-between;
        width: 42.6rem;
    }
    

    &__divider span {
        margin-top: 6.8rem;
        width: 100%;
    }

    &__author {
        &-link {
            @include descr;
            color: #fff;
            transition: all ease 0.5s;
            
        }
    }

    &__button  {
        margin-top: 6.5rem;
        &-main {
            margin: 0 auto;
            @include empty-btn-large;
            border: 1px solid #fff;
            transition: all ease 0.6s;
            color: #fff;
            svg {
                path {
                    transition: all ease 0.6s;
                }
                margin-left: 10px;
            }
            &:hover {
                background-color: $secondary-color;
                transition: all ease 0.6s;
                border: 1px solid #fff;
                color: #fff;
                transition: all ease 0.6s;
                background-color: #00a092;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
    &__social {
        margin-top: 3.5rem;
        display: flex;
        width: 20rem;
        justify-content: space-between;
        &-icon {
            cursor: pointer;
            transition: all ease 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}