.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    height: 110px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        background-image: url("../../../../assets/icons/Logo.svg");
        background-size: cover;
        width: 96px;
        height: 50px;
    }

    &__navigation {
        width: 556px;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
        }
        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-link a {
                &:hover {
                    transition: all ease 0.5s;
                    color: $title-color;
                }
            }
        }
    }
    &__social {
        width: 195px;
        &-icons {
            display: flex;
            justify-content: space-between;
        }
        &-icon {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: all ease 0.5s;
            &:hover {
                transform: scale(1.1);
            }
            &-youtube {
                background-image: url("../../../../../assets/icons/YouTube.svg");
                width: 40px;
                height: 40px;
            }
            &-instagram {
                background-image: url("../../../../../assets/icons/Instagram.svg");
                width: 40px;
                height: 40px;
            }
            &-facebook {
                background-image: url("../../../../../assets/icons/Facebook.svg");
                width: 40px;
                height: 40px;
            }
        }
    }
}
