.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    min-height: 110px;
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        background-image: url("../../assets/icons/Logo.svg");
        background-size: cover;
        width: 96px;
        height: 50px;
    }

    &__navigation {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
        }
        &-list {
            display: flex;
            
            &-link {
                margin-left: 5.1rem;
                a {
                    text-transform: uppercase;
                    &:hover {
                        transition: all ease 0.5s;
                        color: $title-color;
                    }
                } 
                &:first-child {
                    margin: 0;
                }
            }
        }
    }

    &__social {
        width: 17rem;
        &-icons {
            display: flex;
            justify-content: space-between;
        }
        &-icon {
            display: flex;
            width: 40px;
            height: 40px;
            
            cursor: pointer;
            transition: all ease 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
