.map {
    position: relative;
    margin-bottom: 15rem;
    &__title {
        margin: 0 auto;
        max-width: 60rem;
        margin-top: 5rem;
        text-align: center;
        &-heading {
            @include h2;
        }
    }
    &__wrapper {
        margin-top: 7rem;
    }
}
.animal {
    position: absolute;
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 10rem;
    height: 14.4rem;
    cursor: pointer;
    transition: all ease 0.5s;
    filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
   
    &:hover,
    &:focus {
        filter: drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
        .border {
            opacity: 1;
        }
    }
    &:active {
        transform: scale(0.97);
    }

    svg path {
        transition: all ease 0.5s;
        
    }
    &:hover {
        
        .tag {
            path {
                transition: all ease 0.5s;
                fill: #fff;
            }
        }
    }

    &__alligator {
        left: 28.9rem;
        bottom: 35.9rem;
        
    }
}
.border {
    position: absolute;
    top: 3px;
    transition: all ease 0.5s;
    opacity: 0;
    
}

