.map {
    position: relative;
    margin-bottom: 15rem;
    &__title {
        margin: 0 auto;
        max-width: 60rem;
        margin-top: 5rem;
        text-align: center;
        &-heading {
            @include h2;
        }
    }
    &__wrapper {
        margin-top: 7rem;
    }
}
.animal {
    position: absolute;
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 10rem;
    height: 14.4rem;
    cursor: pointer;
    transition: all ease 0.5s;
    filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
    &:hover,
    &:focus {
        .border {
            opacity: 1;
            filter: drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
        }
    }
    &:active {
        transform: scale(0.97);
    }

    svg path {
        transition: all ease 0.5s;
        
    }
    &:hover {
        
        .tag {
            path {
                transition: all ease 0.5s;
                fill: #fff;
            }
        }
    }
    &__alligator {
        left: 29rem;
        bottom: 37rem;
        
    }
    &__eagle {
        left: 17rem;
        bottom: 36rem;
        
    }
    &__lion {
        left: 57rem;
        bottom: 33rem;
        
    }
    &__gorilla {
        right: 61rem;
        bottom: 30rem;
        
    }
    &__lemur {
        right: 51rem;
        bottom: 18rem;
        
    }
    &__panda {
        right: 35rem;
        bottom: 42rem;
        
    }
    &__tiger {
        right: 29rem;
        bottom: 27.5rem;
        
    }
    &__koala {
        right: 16rem;
        bottom: 16rem;
        
    }
}
.border {
    position: absolute;
    top: 3px;
    transition: all ease 0.5s;
    opacity: 0;
    
}

