.map {
    position: relative;
    margin-bottom: 15rem;
    &__title {
        margin: 0 auto;
        max-width: 60rem;
        margin-top: 5rem;
        text-align: center;
        &-heading {
            @include h2;
        }
    }
    &__wrapper {
        margin-top: 7rem;
    }
}
.animal {
    position: absolute;
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 10rem;
    height: 14.4rem;
    transition: all ease 0.5s;
    filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
    &:hover,
    &:focus {
        .border {
            opacity: 1;
            filter: drop-shadow(0px 4px 30px rgba(255, 255, 255, 0.5));
        }
        .animal__tooltip-text {
            visibility: visible;
        }
    }
    &:active {
        transform: scale(0.97);
    }

    svg path {
        transition: all ease 0.5s;
        
    }
    

    &__tooltip {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 0;
        left: 100%;
        &-text {
            visibility: hidden;
            color: $primary-color;
            @include descr;
            line-height: 2.1rem;

        }
        &-eagle {
            position: absolute;
            right: 100%;
            width: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }

    }
    &__alligator {
        left: 29rem;
        bottom: 37rem;
        cursor:default;

        
        
    }
    &__eagle {
        left: 17rem;
        bottom: 36rem;
        &:hover {
            .tag {
                path {
                    transition: all ease 0.5s;
                    fill: #fff;
                }
            }
        }
    }

    &__lion {
        left: 57rem;
        bottom: 33rem;
        cursor: default;
        
    }
    &__gorilla {
        right: 61rem;
        bottom: 30rem;
        &:hover {
            .tag {
                path {
                    transition: all ease 0.5s;
                    fill: #fff;
                }
            }
        }
    }
        
    
    &__lemur {
        right: 51rem;
        bottom: 18rem;
        &:hover {
            .tag {
                path {
                    transition: all ease 0.5s;
                    fill: #fff;
                }
            }
        }
    }
        
    
    &__panda {
        right: 35rem;
        bottom: 42rem;
        &:hover {
            .tag {
                path {
                    transition: all ease 0.5s;
                    fill: #fff;
                }
            }
        }
        
    }
    &__tiger {
        right: 29rem;
        bottom: 27.5rem;
        cursor: default;
        
    }
    &__koala {
        right: 16rem;
        bottom: 16rem;
        cursor: default;
        
    }


}
.border {
    position: absolute;
    top: 3px;
    transition: all ease 0.5s;
    opacity: 0;
    
}


