
.pets {
  position: relative;
    overflow: hidden;  
    padding-top: 13.4rem;
    padding-bottom: 15rem;
    transition: all ease 0.5s;
    min-height: 244rem;

    &-carousel {
      margin-top: 10rem;
      position: relative;
      // display: flex;
      // flex-direction: column;
      // flex-wrap: wrap;
      // overflow: hidden;
      &__wrapper {
        height: 164.4rem;
        margin-left: calc(220px + (100% - 1920px) / 2);
        max-width: 192rem;
        width: 100%;
        overflow: hidden;
        min-height: 74rem;
      }
    }
    &__row {
      
      &-one {
        min-height: 74rem;
        transition: all ease 0.5s;
        position: absolute;
        display: flex;
        // gap: 2rem;
        overflow: hidden;
      }

      &-two {
        transition: all ease 0.5s;
        position: absolute;
        top: 76.3rem;
        display: flex;
        // gap: 2rem;
        overflow: hidden;
        min-height: 74rem;

      }
    }

    &__title {
        text-align: center;
        @include h2;
        color: $title-color;
        margin-left: 20px;
    }
    &__subtitle {
        margin: 0 auto;
        margin-top: 5.5rem;
        width: 92rem;
        text-align: center;
        @include subtitle;
    }
    &__btn {
        @include square-btns-navy;
    }
    &__card {
      width: 48rem;
      height: 74.7rem;
      display: flex;
      flex-direction: column;
      border-radius: 5px;

      &-wrapper {
        max-width: 44rem;
        background-color: #20113d;
      }
        &-image {
            img {
              max-width: 44rem;
              object-fit: cover;
            }
        }
        transition: all ease 0.8s;
        position: relative;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }
        &-text {
          &-wrapper {
            height: 311px;
          }
            padding:  0 10px;
        }
        &-name {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px 20px;
            border-radius: 5px 0px;
            @include subtitle;
            background-color: $secondary-color;
            color: #fff;
        }
       
        &-title {
            margin-top: 2.8rem;
            @include subtitle;
            text-align: center;
            color: #fff;
        }
        &-subtitle {
            min-height: 8.1rem;
            margin-top: 1.5rem;
            padding: 0 4.5rem 0 4.5rem;
            
            text-align: center;
            color: #fff;
            @include descr;
            
        }

        &-link {
            margin: 0 auto;
            margin-top: 2rem;
            @include no-bordered-btn;
            transition: all ease 0.6s;
            svg {
                path {
                    transition: all ease 0.6s;
                }
                margin-left: 1.1rem;
            }
            &:hover {
                transition: all ease 0.6s;
                background-color: #d26004;
                color: #fff;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
    
    &__button {
        position: absolute;
        bottom: 12rem;
        left: 50%;
        transform: translateX(-50%);
        
        &-main {
            margin: 0 auto;
            @include empty-btn-large;
            border: 1px solid $secondary-color;
            transition: all ease 0.6s;
            svg {
                path {
                    transition: all ease 0.6s;
                }
                margin-left: 10px;
            }
            &:hover {
                background-color: $secondary-color;
                transition: all ease 0.6s;
                border: 1px solid #fff;
                color: #fff;
                svg path {
                    fill: #fff;
                }
            }
        }
    }
}
