.watch {
    background-image: url("../../assets/img/main/watch/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 13rem 0;
    
    &__title {
        @include h1;
    }
    &__description {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 43rem;
        flex-wrap: wrap;
        @include descr;
    }
    &__button {
        margin-top: 4.6rem;
        &-btn {
            transition: all ease 0.5s;
            cursor: pointer;
            @include btn;

            &:hover {
                @include btn-hovered;
            }
        }
    }
}
