@import 'base/base';
@import 'base/mixins';
@import 'base/buttons';


*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
    
}
ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    
    
}
a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;
    transition: all ease 0.5s;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:active {
        outline: 0;
    }
}
body, html {
    font-family: 'Montserrat', sans-serif;
    min-width: 32rem;
    width: 100%;
    font-weight: 600;
    font-size: 62.5%;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    width: 1400px;
    
}
.valid {
  background-color: gren;
}
@import 'header';
@import 'watch';
@import 'welcome';
@import 'donation';
@import 'pets';
@import 'feed';
@import 'think';
@import 'care';
@import 'footer';
@import 'live';
@import 'sidepanel';
@import 'know';
@import 'map';
@import 'contact';
@import 'burger';
@import 'popup';
@import 'popup-donate';
@import 'popup-info';
@import 'popup-payment';
@import 'select';
@import 'base/side-menu';
@import 'base/media';
@import 'base/media-zoos';
@import 'base/media-contacts';
@import 'base/media-map';
